.full-width-table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
  width: 100%;
}

.example-container {
  position: relative;
}

.mat-form-field {
  font-size: 14px;
  width: calc(100% - 50px);
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

span {
  cursor: pointer;
}